*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input {
    padding: 10px 20px;
    border-radius: 10px;
}

body {
    background: #FFFFCC;
}

.wrapper {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
}

.todo_block {
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.todo_head {
    background: linear-gradient(90deg, rgba(130,189,189,1) 0%, rgba(36,174,174,1) 35%, rgba(6,75,75,1) 100%);
    border-radius: 10px 10px 0px 0px;
    padding: 15px 15px;
}

.todo_body {
    background: #ffffff;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}

.todo_item_link {
    padding: 10px 10px;
    display: block;
}

.task_title {
    font-size: 22px;
    color: #ffffff;
    text-align: center;
}

p{
    color: #000000;
    font-size: 18px;
}

.task_footer p{
    font-size: 16px;
}

.task_footer {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid;
}

.task_footer p {
    margin: 5px 0px;
}

.task_footer p:nth-child(2) {
    margin-bottom: 15px;
}